###############################################################################
# LIBRARY OF LEGENDS
# Project Phoenix
#
# File..............: .editorconfig
# Version...........: 1.0.0
# Status............: Approved
#
# Description:
# Shared editor configuration for the entire repository.
###############################################################################

# Top-most EditorConfig file
root = true

###############################################################################
# Global Settings
###############################################################################

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

###############################################################################
# Markdown
###############################################################################

[*.md]
trim_trailing_whitespace = false
max_line_length = off

###############################################################################
# YAML
###############################################################################

[*.{yml,yaml}]
indent_size = 2

###############################################################################
# JSON
###############################################################################

[*.json]
indent_size = 2

###############################################################################
# JavaScript / TypeScript
###############################################################################

[*.{js,cjs,mjs,ts,tsx}]
indent_size = 2

###############################################################################
# HTML / CSS
###############################################################################

[*.{html,css,scss}]
indent_size = 2

###############################################################################
# Shell Scripts
###############################################################################

[*.sh]
end_of_line = lf
indent_size = 2

###############################################################################
# Windows Batch Files
###############################################################################

[*.bat]
end_of_line = crlf

###############################################################################
# End of File
###############################################################################